body {
    background: #eee;
}

header {
    color: #ccc;
    background-color: #2c2c2c;
    padding: 60px 0;
    line-height: 2.0em;
}

h2 {
    color: #fff;
}

h2 {
    margin-bottom: 30px;
}

header pre {
    margin: 20px 0;
}
